{% extends "app/base.html" %}
{% load static %}

{% block contacts_menu %}
<li class="list active">
    <b></b>
    <b></b>
    <a href="{% url 'contacts' %}">
        <span class="icon">
            <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="tittle">Contatos</span>
    </a>
</li>
{% endblock contacts_menu %}

{% block content %}
<div class="get">
    <h2>Seus contatos</h2>
    <br>

    <ul class="content-list">
        {% for contact in contacts %}
        <li class="element-list">
            <span class="contact-name">{{ contact.name }}</span>
            <span class="contact-email">{{ contact.email }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="post">
    <h2>Adcione um contato</h2>
</div>
{% endblock content %}
