{% extends "app/base.html" %}
{% load static %}

{% block contacts_menu %}
<li class="list active">
    <b></b>
    <b></b>
    <a href="{% url 'contacts' %}">
        <span class="icon">
            <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="tittle">Contatos</span>
    </a>
</li>
{% endblock contacts_menu %}

{% block content %}
<h2>Seus contatos</h2>
<h4>{{ contacts.name }}</h4>

<div class="add-contact-area">
    <h2>adcionar contato</h2>
    <form action="{% url 'contacts' %}" method="post">
        {% csrf_token %}
        <div class="form-control">
            <label for="name">Nome</label>
            <input type="text" name="name">
        </div>
        <div class="form-control">
            <label for="email">E-mail</label>
            <input type="email" name="email">
        </div>
    </form>
</div>
{% endblock content %}
