{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1><br>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellat labore! Quis sunt quaerat sit illum neque perspiciatis in? Nisi excepturi, voluptatibus eligendi blanditiis atque voluptas. Animi dolores tenetur ratione?
        Ratione, a repudiandae recusandae nobis amet maxime dolorem illum facere ex accusamus earum aut asperiores non magnam doloribus eum excepturi nulla fuga? Incidunt accusantium officia veritatis non at, itaque expedita!
        Harum ipsum perspiciatis, fugit sequi error, alias excepturi fugiat repellendus quam itaque molestias tenetur quos dolor obcaecati. Quod eum deserunt quas eveniet. Omnis reiciendis saepe nemo itaque doloremque quibusdam illum.
    </p><br><br>
    <a href="{% url 'register' %}">cadastre-se</a>
</body>
</html>