{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <title>Acervo pessoal</title>
</head>
<body>
    <h1 class="title">Seu acervo pessoal</h1>
    <p class="text">
        Este é um acervo pessoal digital, ideal para você guardar seus livros e itens preferidos <br>
        além disso você pode manter uma lista de contatos para fazer empréstimos de seus itens e livros, <br>
        e a melhor parte é que tudo isso é gratuito! faça sua conta é rapidinho.
    </p>
    <div class="links">
        <a href="{% url 'login' %}">Acesse sua conta</a>
        <a href="{% url 'register' %}">Faça sua conta</a>
    </div>



    <img src="{% static 'app/img/wavesOpacity.svg' %}" alt="" class="custom-shape-divider-bottom-1675550807">
</body>
</html>