<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'register' %}" class="form" method="post">
        {% csrf_token %}
        <div class="div-form">
            <input type="text" name="user" placeholder="Nome de Usuário">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Senha">
            <input type="password" placeholder="Confirme a Senha">
            <input class="input-button" type="submit" value="Cadastrar-se">
        </div>
    </form>
</body>
</html>
