{% extends "app/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'app/css/base.css' %}">
<link rel="stylesheet" href="{% static 'app/css/withModels.css' %}">
<script src="{% static 'app/js/utils.js' %}"></script>
{% endblock styles %}

{% block books_menu %}
<li class="list active">
    <b></b>
    <b></b>
    <a href="{% url 'books' %}">
        <span class="icon">
            <ion-icon name="book-outline"></ion-icon>
        </span>
        <span class="tittle">Livros</span>
    </a>
</li>
{% endblock books_menu %}

{% block content %}

<div class="post">
    <h2>Adcione um livro</h2>
    <br>

    <form action="{% url 'create_book' %}" class="add-book-form" method="post">
        {% csrf_token %}
        <div class="add-form-group">
            <label for="title">Titulo:</label>
            <input type="text" name="title" />
        </div>
        <div class="add-form-group">
            <label for="author">Autor:</label>
            <input type="text" name="author" />
        </div>
        <div class="add-form-group">
            <label for="year">Ano:</label>
            <input type="text" name="year" />
        </div>
        <input type="submit" value="Adcionar">
        <a href="{% url 'books' %}">Cancelar</a>
    </form>
</div>

{% endblock content %}
